<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cz10000_001.mytestapp">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 设置使用opengl es 2.0版本  3.0版本对应0x00030000  3.1版本对应 0x00030001 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/myTheme">
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c874360c00d2880b0b7fa64e6aa57a60" />
        <!-- 定位服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".TestNavi2Activity" />
        <activity android:name=".TestActivity1" />
        <activity android:name=".TestActivity2" />
        <activity android:name=".TestActivity3" />
        <activity android:name=".TestopglActivity" />
        <activity android:name=".TestIndicatorActivity" />
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".TestZDYSpinerActivity" />
        <activity android:name=".CakeActivity" />
        <activity android:name=".CircleRingActivity" />
        <activity android:name=".AliPayActivity" />
        <activity android:name=".TSDrawActivity" />
        <activity android:name=".SpanableStringActivity" />
        <activity android:name=".AActivity" />
        <activity android:name=".BActivity" />
        <activity android:name=".CActivity" />
        <activity android:name=".TestDpActivity" />
        <activity android:name=".kt.TestKtActivity" />
        <activity android:name=".kt.TestKt1Activity" />
        <activity android:name=".kt.Testkt2Activity" />
        <activity android:name=".kt.TestAnotherActivity" />
        <activity android:name=".TestDrawFragmentActivity" />
        <activity android:name=".TestLevelProgressActivity" />
        <activity android:name=".TestGalleryRvActivity" />
        <activity android:name=".MyWallPageActivity" />
        <!-- 配置视频壁纸的service -->
        <service
            android:name=".wallpager.VideoWallPager"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":wallpaper">

            <!-- 为实时壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为实时壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <!-- 基本图形 opengl实现 -->
        <activity android:name=".TestGlActivity" />

        <!-- 图片处理  冷色调 暖色调 放大镜 纹理 模糊 黑白 -->
        <activity android:name=".PictureProcessActivity"></activity>

        <!-- 图形转换 通过矩阵实现图形 平移 旋转 缩放 -->
        <activity android:name=".VaryActivity">

        </activity>

        <!--VR 实现天空球 效果 需要传感器 -->
        <activity android:name=".VRContextActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>